<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Mosc/css/woocommerce-layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Mosc/css/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" href="~/Mosc/css/woocommerce.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Mosc/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Mosc/style.css" type="text/css" media="all" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Mosc/css/easy-responsive-shortcodes.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        .inactiveLink {
            pointer-events: none;
            cursor: default;
        }
    </style>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
    <div id="page">
        <div class="container">
            <header id="masthead" class="site-header">
                <div class="site-branding">
                    <h1 class="site-title">Kütüphane</h1>

                </div>
                <nav id="site-navigation" class="main-navigation">
                    <button class="menu-toggle">Menu</button>
                    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
                    <div class="menu-menu-1-container">
                        <ul id="menu-menu-1" class="menu">
                            <li><a href="/Home/Index">Anasayfa</a></li>
                            <li><a href="/Home/About">Hakkımızda</a></li>
                            <li><a href="/Home/Contact">İletişim</a></li>
                            <li>
                                <a href="#" class="inactiveLink">ÜYE</a>
                                <ul class="sub-menu">
                                    <li><a href="/Login/GirisYap">Üye Giriş</a></li>
                                    <li><a href="/KayitOl/Kayit">Kayıt Ol</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="/Home/Kitaplar">Kitaplar</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>
            <!-- #masthead -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area column full">
                    <main id="main" class="site-main">

                        @RenderBody()
                        <br />
                    </main>
                    <!-- #main -->
                </div>
                <!-- #primary -->
            </div>
            <!-- #content -->
        </div>
        <!-- .container -->
        <footer id="colophon" class="site-footer">
            <div class="container">
                <div class="site-info">
                    <h1 style="font-family:Herr Von Muellerhoff;color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Kütüphane</h1>
                    <a target="blank" href="/Home/About">&copy; Kütüphane - 2021</a>

                </div>
            </div>
        </footer>
        <a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
    </div>
    <!-- #page -->
    <script src="~/Mosc/js/jquery.js"></script>
    <script src="~/Mosc/js/plugins.js"></script>
    <script src="~/Mosc/js/scripts.js"></script>
    <script src="~/Mosc/js/masonry.pkgd.min.js"></script>
    <script src='~/Mosc/js/accordion.js'></script>
    <script src='~/Mosc/js/tabs.js'></script>
    <script src='~/Mosc/js/toggle.js'></script>
</body>

</html>

