<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/UserPanel/css/style.css">

</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="~/Panel/Index" class="logo">Kütüphane <span>@ViewBag.Sa</span></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="~/Panel/Index"><span class="fa fa-user mr-3"></span> Profil</a>
                    </li>
                    <li>
                        <a href="~/Panel/Kitaplarim"><span class="fa fa-book mr-3"></span> Kitaplarım</a>
                    </li>
                    <li>
                        <a href="mailto:hanoguzakpinar@gmail.com?subject=Kitap İsteği"><span class="fa fa-bookmark mr-3"></span> Kitap İsteği</a>
                    </li>
                    <li>
                        <a href="/Home/Contact" target="_blank"><span class="fa fa-paper-plane mr-3"></span> İletişim</a>
                    </li>
                    <li>
                        <a href="/Home/Kitaplar" target="_blank"><span class="fa fa-turkish-lira mr-3"></span> Vitrin</a>
                    </li>
                    <li>
                        <a href="/Panel/Cikis"><span class="fa fa-close mr-3"></span> Çıkış</a>
                    </li>
                </ul>
                <div class="mb-5">

                </div>
                <div class="footer">
                    <p>
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Kütüphane
                    </p>
                </div>
            </div>
        </nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/UserPanel/js/jquery.min.js"></script>
    <script src="~/UserPanel/js/popper.js"></script>
    <script src="~/UserPanel/js/bootstrap.min.js"></script>
    <script src="~/UserPanel/js/main.js"></script>
    
</body>
</html>

