@{ ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_LayoutPageNew.cshtml"; }


<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title">Hakkımızda</h1>
    </header>
    <div class="entry-content">
        <p><img style="border:10px solid #f4f5f6" src="http://upload.turkcewiki.org/wikipedia/commons/thumb/2/21/Biblioth%C3%A8que_de_l%27Assembl%C3%A9e_Nationale_%28Lunon%29.jpg/1200px-Biblioth%C3%A8que_de_l%27Assembl%C3%A9e_Nationale_%28Lunon%29.jpg" alt="bg5" width="430" class="alignright"></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam volutpat semper orci, a porttitor orci mattis faucibus. Nam tincidunt arcu eget feugiat rutrum.
            Fusce eleifend ex ipsum, eget congue ante varius et. Nunc aliquam dapibus cursus.
            Aenean convallis aliquam est, sed bibendum lorem venenatis sed.
            Proin vitae ex a ex pretium finibus. Ut magna lorem, sagittis eu condimentum ac, aliquam sed nisl. Ut non velit sodales, pellentesque nulla vitae, tempor libero. Nunc tempus felis sed imperdiet pulvinar.
            Donec consequat malesuada lorem, nec fermentum metus pulvinar nec. Nullam est est, scelerisque sed tincidunt at, mollis sagittis nisl. Morbi commodo mattis vehicula.
            Nunc sollicitudin vitae justo at dignissim. Aenean diam mi, vehicula sit amet leo sit amet, maximus rutrum odio.
        </p>
        <h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Kütüphanemize bekleriz.</h2>
    </div>
</article>
