@model Kutuphane.Models.Entity.Dil

@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>Yeni Dil Oluştur</h2>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="control-label col-md-2">Dil İsmi</span>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Isim, new { htmlAttributes = new { @class = "form-control", placeholder = "Dil İsmi" } })
                @Html.ValidationMessageFor(model => model.Isim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="button" id="insert" value="EKLE" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group" id="loadingBarinsert" style="text-align:center;">
            <img src="~/Img/loading.svg" height="50" />
        </div>
    </div>
}

<hr />
<div>
    <a href="/Dil/Index" class="btn btn-primary">Dil Listesi</a>
</div>


<script type="text/javascript">
        var isInsert = false;
        $('#loadingBarinsert').hide();

        $(document).ready(function () {
            $('#insert').click(function () {
                if (!isInsert) {
                    isInsert = true;
                    $('#loadingBarinsert').show();

                    var isim = $('#Isim').val();
                    var lJson = { Isim: isim };

                    $.ajax({
                        type: "POST",
                        url: "/Dil/Insert",
                        dataType: "json",
                        data: lJson,
                        success: function (data) {
                            if (data.success == 0) {
                                $('#Isim').val("");
                            }

                            myToastr(data);
                            isInsert = false;
                            $('#loadingBarinsert').hide();
                        }
                    });
                }
            });
        });
</script>